<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div class="header">
        <div class="title">Centennial</div>
        <div class="divider-div"></div>
        <div class="nav-bar">
            <a href="index.html">Articles</a>
            <a href="aboutus.html">About Us</a>
            <a href="contactus.html">Contact Us</a>
        </div>
    </div>

    <div class="aboutus-paragraphs">
            <p>
                We are the entity. We mean only
                to bring Centennial together.
                We hope to keep growing this site
                until it is an all-encompassing
                hub for the students of Centennial
                to rejoice and communicate.
            </p>
            <img src="../imgs/centennialhs_0.png">
    </div>

    <div class="footer">
        <div class="rights-reserved">
            Centennial Student Community &trade;
        </div>
        <div class="creator">
            Hear the Caw!
        </div>
    </div>
</body>
</html>