<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div class="header">
        <div class="title">Centennial</div>
        <div class="divider-div"></div>
        <div class="nav-bar">
            <a href="../index.html">Articles</a>
            <a href="aboutus.html">About Us</a>
            <a href="contactus.html">Contact Us</a>
        </div>
    </div>

    <div class="contact-paragraphs">
        <p>
            Any Questions? Or have any inquiries
            about becoming a more active role
            in the Student Community Website?
            You can contact us here:
        </p>
        <p>example@gmail.com</p>
        <p>277-890-4152</p>
        <p>whostillhasayahoo@yahoo.com</p>
    </div>

    <div class="footer">
        <div class="rights-reserved">
            Centennial Student Community &trade;
        </div>
        <div class="creator">
            Hear the Caw!
        </div>
    </div>
</body>
</html>