<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div class="header">
        <div class="title">Centennial</div>
        <div class="divider-div"></div>
        <div class="nav-bar">
            <a href="../index.html">Articles</a>
            <a href="aboutus.html">About Us</a>
            <a href="contactus.html">Contact Us</a>
        </div>
    </div>

    <p>
        :/
    </p>

    <p> Unfortunately, we don't have the journalists 
        needed to write these stories at this
        time. However, if you come back later, we'll
        be sure to have them.
    </p>

    <div class="footer">
        <div class="rights-reserved">
            Centennial Student Community &trade;
        </div>
        <div class="creator">
            Hear the Caw!
        </div>
    </div>
</body>
</html>