html{
    height: 100%;
}

body {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: red;
    height: 70px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.title {
    flex: 1;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nav-bar {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    margin-bottom: 80px;
}

.articles div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: lightblue;
    color: black;
    text-decoration: none;
}

.articles a {
    text-decoration: none;
}


@media (max-width: 600px){
    .articles{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 901px){
    .articles{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.articles div:hover{
    background-color: rgba(173, 216, 230, 0.4)
}

.contact-paragraphs {
    flex: 1;
    background-color: lightblue;
    padding: 2%;
}

.contact-paragraphs p {
    font-size: 3.0vw;
}

.aboutus-paragraphs {
    padding: 2%;
    flex: 1;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}


.footer {
    height: 70px;
    background-color: red;
    color: white;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0.5;
    margin-top: auto;
}

.final-eagle {
    max-height: 100%;
}

/* new code for reference

html{
    height: 100%;
}

body {
    padding-top: 80px;
    background-color: #fff2f2;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(232, 185, 193);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 70px;
    vertical-align: center;
    justify-content: space-between;
}


.title-div {
    display: flex;
    width: 200px;
    background-color: blue;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.middle-div {
    background-color: red;
    flex: 1;
}

.nav-div {
    display: flex;
    background-color: red;
    height: 70px;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.nav-div a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(179, 178, 178);
    font-family: Georgia, 'Times New Roman', Times, serif
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

@media (max-width: 900px){
    .articles{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 901px){
    .articles{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.div1 {
    display: flex;
    align-items: center;
    background-color: rgb(173, 216, 230);
    height: 200px;
}

.div1:hover{
    background-color: rgba(173, 216, 230, 0.7);
}

.div2 {
    display: flex;
    align-items: center;
    background-color: lightpink;
    height: 200px;
}

.div3 {
    display: flex;
    align-items: center;
    background-color: lightyellow;
    height: 200px;
}

.live-chat {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
}

.footer {
    height: 70px;
    background-color: red;
    color: white;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-input{
    height: 30px;
    display: flex;
    align-items: center;
}

.text-section {
    width: 65%;
    height: 100%;
}

.text-button {
    width: 30%;
    height: 100%;
}

*/